<nb-card size="large"   class="card1 col-xxxl-12 col-xxl-12 col-lg-6 col-md-6">
  <nb-tabset fullWidth *ngIf="devicesData">

    <nb-tab tabTitle="En nombre">

      <div class="slider-container">
        <ngx-devices-dragger [(value)]="infos"
                                 [min]="devicesData.min" [max]="devicesData.max" [disableArcColor]="theme.arcEmpty"
                                 [fillColors]="theme.arcFill" [thumbBg]="theme.thumbBg" [thumbBorderColor]="theme.thumbBorder">

          <div class="slider-value-container"  [ngClass]="{ 'off': devicesOff }">
            <div class="value h1">
              {{ devicesOff ? '--' : (infos | ngxRound)+"/"+devicesData.max}}
            </div>
            <div class="desc">
              Boitiers fonctionnel
            </div>
          </div>
        </ngx-devices-dragger>
      </div>

      <!--
      <nb-radio-group [(ngModel)]="temperatureMode" name="temperature-mode">
        <nb-radio value="cool">
          <i class="nb-snowy-circled"></i>
        </nb-radio>
        <nb-radio value="warm">
          <i class="nb-sunny-circled"></i>
        </nb-radio>
        <nb-radio value="heat">
          <i class="nb-flame-circled"></i>
        </nb-radio>
        <nb-radio value="fan">
          <i class="nb-loop-circled"></i>
        </nb-radio>
      </nb-radio-group>
      -->
    </nb-tab>

    <nb-tab tabTitle="En %">

      <div class="slider-container">
        <ngx-devices-dragger [(value)]="infos_p"
                                 [min]="devicesData_p.min" [max]="devicesData_p.max" [disableArcColor]="theme.arcEmpty"
                                 [fillColors]="theme.arcFill" [thumbBg]="theme.thumbBg" [thumbBorderColor]="theme.thumbBorder">

          <div class="slider-value-container"  [ngClass]="{ 'off': devicesOff_p }">
            <div class="value humidity h1">
              {{ devicesOff_p ? '--' : (infos_p | ngxRound) }}
            </div>
            <div class="desc">
              Boitiers fonctionnel
            </div>
          </div>
        </ngx-devices-dragger>
      </div>
<!--
      <nb-radio-group [(ngModel)]="humidityMode" name="humidity-mode">
        <nb-radio value="cool">
          <i class="nb-snowy-circled"></i>
        </nb-radio>
        <nb-radio value="warm">
          <i class="nb-sunny-circled"></i>
        </nb-radio>
        <nb-radio value="heat">
          <i class="nb-flame-circled"></i>
        </nb-radio>
        <nb-radio value="fan">
          <i class="nb-loop-circled"></i>
        </nb-radio>
      </nb-radio-group>
      -->
    </nb-tab>
  </nb-tabset>
</nb-card>

<nb-card   size="large" class="card2 col-xxxl-12 col-xxl-12 col-lg-6 col-md-6 ">
  <nb-tabset *ngIf="systemData" fullWidth>

    <nb-tab tabTitle="L'utilisation de la RAM En nombre">

      <div class="slider-container">
        <ngx-devices-dragger [(value)]="system" (power)="systemOff = !$event"
                             [min]="systemData.min" [max]="systemData.max" [disableArcColor]="theme.arcEmpty"
                             [fillColors]="theme.arcFill" [thumbBg]="theme.thumbBg" [thumbBorderColor]="theme.thumbBorder">

          <div class="slider-value-container"  [ngClass]="{ 'off': systemOff }">
            <div class="value h1" style="    text-align: center;">
              {{ systemOff ? '--' : (system | ngxRound)+"/"+(systemData.max| ngxRound) +" Mo"}}
            </div>
            <div class="desc">
              La RAM utilisé
            </div>
          </div>
        </ngx-devices-dragger>
      </div>

      <!--
      <nb-radio-group [(ngModel)]="temperatureMode" name="temperature-mode">
        <nb-radio value="cool">
          <i class="nb-snowy-circled"></i>
        </nb-radio>
        <nb-radio value="warm">
          <i class="nb-sunny-circled"></i>
        </nb-radio>
        <nb-radio value="heat">
          <i class="nb-flame-circled"></i>
        </nb-radio>
        <nb-radio value="fan">
          <i class="nb-loop-circled"></i>
        </nb-radio>
      </nb-radio-group>
      -->
    </nb-tab>

    <nb-tab tabTitle="L'utilisation de la RAM En %">

      <div class="slider-container">
        <ngx-devices-dragger [(value)]="system_p" (power)="systemOff_p = !$event"
                             [min]="systemData_p.min" [max]="systemData_p.max" [disableArcColor]="theme.arcEmpty"
                             [fillColors]="theme.arcFill" [thumbBg]="theme.thumbBg" [thumbBorderColor]="theme.thumbBorder">

          <div class="slider-value-container"  [ngClass]="{ 'off': systemOff_p }">
            <div class="value humidity h1" style="    text-align: center;">
              {{ humidityOff ? '--' : (system_p | ngxRound) }}
            </div>
            <div class="desc">
              La RAM utilisé
            </div>
          </div>
        </ngx-devices-dragger>
      </div>
      <!--
            <nb-radio-group [(ngModel)]="humidityMode" name="humidity-mode">
              <nb-radio value="cool">
                <i class="nb-snowy-circled"></i>
              </nb-radio>
              <nb-radio value="warm">
                <i class="nb-sunny-circled"></i>
              </nb-radio>
              <nb-radio value="heat">
                <i class="nb-flame-circled"></i>
              </nb-radio>
              <nb-radio value="fan">
                <i class="nb-loop-circled"></i>
              </nb-radio>
            </nb-radio-group>
            -->
    </nb-tab>
  </nb-tabset>
</nb-card>
